@import url(http://fonts.googleapis.com/css?family=Special+Elite);

*{
	font-family: 'Special Elite', cursive;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -999;
}

body{
	background-color: #d48f37;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	text-decoration: underline;
	cursor: pointer;
	color: black;
}

.bottom{
	position: absolute;
	bottom: 3em;
	height: 2em;
}

.bottom button{
	height: 2em;
	font-size: 2em;

	background-color: white;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-right: 10px;
	margin-top: 10px;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white; 
    background: black;
}

@media (max-width: 600px) {
	.bottom button{
		width: 45% !important;
	}
	.bottom{
		bottom: 8em !important;
	}
}